@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

/* reset css */

html{
    font-family: 'Freeman';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-color: black;
    --theme: white;
    --form-theme: #ccc;
    --border-color: rgba(0, 0, 0.5);
}

:root.black{
    --font-color: white;
    --theme: black;
}

body{
    display: flex;
    color: var(--font-color);
}

.picture-section{
    background-image: url('../assets/img/simon-lee-N1_C_tiLIoA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    height: 100vh;
    position: relative;
    text-align: center;
}

.copyright{
    color: white;
    margin-top: 90vh;;
    font-weight: bold;
    text-shadow: 0 0 5px 5px black;
}

.sign-up-section{
    flex: 2;
    color: var(--font-color);
    background-color: var(--theme);
    padding-left: 50px;
}

.form{
    display: flex;
    flex-direction: column;
}

.header-form{
    padding: 50px 0;
    flex: 1;
}
.desc{
    margin: 10px 0;
}
.author-message{
    margin-top: 30px;
    font-style: italic;
}

.take-input-infor{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.row{
    padding: 10px 0;
    display: flex;
    gap: 10px;
}
.col{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.col label{
    text-transform: uppercase ;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.col input{
    outline: none;
    border: 1px solid var(--border-color);
    width: 50%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s;
}
.col input:focus{
    border-color: rgb(35, 35, 233);
    box-shadow: 2px 2px 3px var(--border-color);
}

.form-message{
    font-size: 14px;
    color: red;
    font-weight: 200;
}